<div class="container">
  <div class="row">
    <p>
      プロテインマニアは成分から</br>
      お好みのプロテインを検索できる</br>
      レビューサイトです
    </p>
  </div>
  <div class="row">
    <%= image_tag '', size: '200x200' %>
  </div>
</div>