/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

// .admin-sign_in-submit 
.pr_100-submit {
  padding-right: 100px;
  text-align: right;
}

// .home-submit 
.pr_200-submit {
  padding-right: 200px;
  text-align: right;
}

// .admin-submit 
.center-submit {
  text-align: center;
}

// .item_show 
.pt_50-link {
  padding-top: 50px;
  text-align: right;
}

.notice-red {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size:   25px;
  text-align: center;
  color: #ff0000;
}

.notice-green {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size:   25px;
  text-align: center;
  color: #32CD32;
}

.background-image {
background-image: image-url('top.jpg');
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 500px;
}

.home-title {
  font-family: 'Mochiy Pop One', sans-serif;
  color: #006400;
  padding-top: 200px;
  text-align: center;
}

.about-text {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 35px;
  margin-top: 30px;
}

.item-name {
  font-size: 30px;
  text-align: left;
  margin-top: 100px;
}

.confirmation-text {
  font-size: 27px;
  margin-top: 100px;
}





.pagination {
  justify-content: center;
  margin-top: 50px;
}


.edit {
  text-align: center;
}

.show {
  display: inline-block;
}

.show-name {
  display: inline-block;
  margin-left: 50px;
}

.edit-mypage {
  margin-left: 200px;
  margin-top: 50px;
}