<div class="container">
  <p>
    本当に退会しますか？
  </p>
  <%= link_to "退会しない", user_path(current_user), class: 'btn btn-primary' %>
  <%= link_to "退会する", withdrawal_path, method: :patch, data: {confirm: "本当に退会しますか？"}, class: 'btn btn-danger' %>
</div>