<div class="container">
  <div class="row justify-content-md-center">
   <div class="col-6">
    <p class="confirmation-text">
     退会するとレビューの投稿ができなくなります。</br>
     それでも退会しますか？
    </p>
    <div class="pt_50-link">
      <%= link_to "退会しない", user_path(current_user), class: 'btn btn-primary' %>
      <%= link_to "退会する", withdrawal_path, method: :patch, data: {confirm: "本当に退会しますか？"}, class: 'btn btn-danger' %>
    </div>
   </div>
  </div>
</div>